<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <footer>
        <div class="footercontainer">
            <div class="footer">
                <div class="row1 row">
                    <div class="abtMeal col1 col">
                        <h5 class="headinFooter">About Meal</h5>
                        <br>
                        <p class="contentinFooter">
                            The Big Oxmox advised her not to do so,
                            because there were thousands of bad Commas,
                            wild Question Marks and devious Semikoli, but the
                            Little Blind Text didn’t listen.
                        </p>
                    </div>
                    <div class="LunchDinner col2 col">
                        <h5 class="headinFooter">Lunch Service</h5>
                        <br>
                        <p class="contentinFooter">
                            Booking from 12:00pm — 1:30pm
                        </p>
                        <h5 class="headinFooter">Dinner Service</h5>
                        <br>
                        <p class="contentinFooter">
                            Everyday:<br>
                            Booking from 6:00pm — 9:00pm
                        </p>
                    </div>
                    <div class="Follow col3 col">
                        <h5 class="headinFooter">Follow Along</h5>
                        <br>
                        <p class="contentinFooter">
                            <a href="#" target="_blank"><img src="~/Images/Ins.png" height="25px" /></a>
                            &nbsp;<a href="#" target="_blank"><img src="~/Images/Twt.png" height="25px" /></a>
                        </p>
                        <h5 class="headinFooter">Newsletter</h5>
                        <br>
                        <input type="text" placeholder="Enter Email" />
                    </div>
                </div>
                <br><br>
               <center>
                   <h4 class="devName">Recreated by Shreyansh Kumar Gupta <a href="https://github.com/shreyanshGupta2001" target="_blank"><img src="~/Images/github.png" /></a></h4>
                </center> 
            </div>
        </div>
    </footer>
</body>
</html>