
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
        @{
            Html.RenderPartial("_PartialNavbar");
        }
    </header>
    <div class="Emptyspace2">

    </div>
    <div class="menu">
        <center>
            <br>
            <h1 class="menuhead">Menu</h1>
            <p>Colorlib Meal Template For Restaurants recreated by Shreyansh Kumar Gupta</p>
        </center>
        <div class="breakfast">
            <br><br>
            <center><h2 class="typehead">BREAKFAST</h2></center>
            <br>
            <div class="row1 row rowbreakfast">
                <div class="col2 col colbreakfast1 col-3 p-3">

                </div>
                <div class="col2 col colbreakfast1text col-sm-9">
                    <h4>Special Delhi Chole Bhature</h4>
                    <p>
                        Organic Chickpeas with a flat bread to make one of the most famous comfort food of India.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbreakfast">
                <div class="col2 col colbreakfast2 col-3 p-3">

                </div>
                <div class="col2 col colbreakfast2text col-sm-9">
                    <h4>Ooty Sambhar Vada</h4>
                    <p>
                        Sambhar and Vada, the most famous breakfast in whole of South India, a healty cereals and carb rice combo that everyone likes.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbreakfast">
                <div class="col2 col colbreakfast3 col-3 p-3">

                </div>
                <div class="col2 col colbreakfast3text col-sm-9">
                    <h4>Samosa</h4>
                    <p>
                        No description needed ! We all know what Samosa is, and we all also know how good a samosa is !
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbreakfast">
                <div class="col2 col colbreakfast4 col-3 p-3">

                </div>
                <div class="col2 col colbreakfast4text col-sm-9">
                    <h4>Pav Bhaji</h4>
                    <p>
                        A very famous breakfast food originating from Maharashtra, made by a combination of multiple veggies which is then enjoyed with a thick yet light bread.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
        </div>
        <div class="brunch">
            <br><br>
            <center><h2 class="typehead">BRUNCH</h2></center>
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col colbrunch1 col-3 p-3">

                </div>
                <div class="col2 col colbrunch1text col-sm-9">
                    <h4>Gol Gappe</h4>
                    <p>
                        Gol gappa is crispy-fried puffed ball that is filled with potato, chickpeas, onions, spices, and flavoured water.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row2 row rowbrunch">
                <div class="col2 col colbrunch2 col-3 p-3">

                </div>
                <div class="col2 col colbrunch2text col-sm-9">
                    <h4>Parathe</h4>
                    <p>
                        A wide range of Parathe available from Aloo, Paneer, Cauliflower and Raddish.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row3 row rowbrunch">
                <div class="col2 col colbrunch3 col-3 p-3">

                </div>
                <div class="col2 col colbrunch3text col-sm-9">
                    <h4>Poha</h4>
                    <p>
                        A very interesting comfort food from Bhopal, where a dried puffed rice is soaked in water, and then cooked in a wok with veggies.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
        </div>
        <div class="dinner">
            <br><br>
            <center><h2 class="typehead">DINNER</h2></center>
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner1 col-3 p-3">

                </div>
                <div class="col2 col coldinner1text col-sm-9">
                    <h4>Shahi Paneer</h4>
                    <p>
                        As the name suggests itself, it's a royal version of Paneer, where a high quality of cream, butter, dryfruits come together to make this royal Indian dish.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner2 col-3 p-3">

                </div>
                <div class="col2 col coldinner2text col-sm-9">
                    <h4>Palak Paneer</h4>
                    <p>
                        Organic Spinach and Paneer come together to make perfect combo of fats and veggie.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner3 col-3 p-3">

                </div>
                <div class="col2 col coldinner3text col-sm-9">
                    <h4>Dal Makhani</h4>
                    <p>
                        The absoulte best of best that dal can offer is Dal Makhani, a mixture of Rajma and Urad dal is used to make this delicacy.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner4 col-3 p-3">

                </div>
                <div class="col2 col coldinner4text col-sm-9">
                    <h4>Malai Kofta</h4>
                    <p>
                        A classic Indian Dinner dish made by high quality cream, cottage cheese which gives a sweet savory flavor to it.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner5 col-3 p-3">

                </div>
                <div class="col2 col coldinner5text col-sm-9">
                    <h4>Dosa</h4>
                    <p>
                        South Indian ultimate meal Dosa is a combination of Rice outer cover and spiced potatoes inside of it, It is pan fried which gives it a crispy outer cover.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
            <br>
            <div class="row1 row rowbrunch">
                <div class="col2 col coldinner6 col-3 p-3">

                </div>
                <div class="col2 col coldinner6text col-sm-9">
                    <h4>Mix Veg</h4>
                    <p>
                        As the name suggests, it's a mixture of multiple veggies and spices.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hrline">
        </div>
        <br><br>
    </div>
    <footer>
        @{
            Html.RenderPartial("_PartialFooter");
        }
    </footer>
</body>
</html>
